/* Header and navigation bar */
header {
    background-color: #808080;
}

header img {
    float: left;
    padding: 10px;
    margin-left: 50px;
}

header nav {
    float: right;
}

header::after{
    content: '';
    display: table;
    clear: both;
}


nav ul li {
    display: inline-block;
    margin-left: 60px;
    margin-right: 50px;
    padding-top: 40px;
}
li:last-child{
    margin-right: 350px;
}
nav a{
    text-decoration: none;
    color: #BFBFBF;
}
nav a:hover{
    color: black;
}

/* Section one the main image and the sub image */


section {
    width: 100%;
}
section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/* section img:nth-last-child(-n+3) {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
} */
section div::after {
  content: "";
  clear: both;
  display: table;
}
section div img {
    display:inline-block;
    margin: auto;
    width: 23%;
    padding: 5px;
}
section div img:first-child{
    margin-left: 190px;
}

/* down side of the page*/
/* article {
    width: 100%;
} */
/* article div img{
    display: block;
    margin: auto;
    width: 50%;
}
article div p {
    display: block;
    margin: auto;
    width: 50%;
} */
/* article div img {
    display: block;
    margin: auto;
}
article div p {
    display: block;
    margin: auto;
} */
article{
    margin: auto;
    
}
article {
    width: 960px;
}

article div {
    display: inline-block;
    text-align: center;
    width: 50%;
    float: right;
}
article img{
    display: inline-block;
    margin: auto;
    width: 50%;
}
article div {
    background-color:white;
    width: 470px;
    height: 400px;
    overflow: scroll;
}
button {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
button:hover {
    opacity: 1
}


/* footer style */

footer {
    background-color:#808080 ;
    color:black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}










